body {
    background-color: #ffffff;
    color: #333333;
}
.navbar {
    background-color: #28a745 !important;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
